*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:Roboto
}

/* Card de contacto */

.contactoCard {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c2d4b9;
    padding: 50px 15px;
    align-items: center;
    border-radius: 5px;
    margin: 20px 15px;
    font-size:1.25em
}

.contactoCard section {
    margin: 8px 0;
}

.contentCard{
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
}