.topPresentacionSolu{
    background: url(../img/caños.webp) no-repeat;
}

.headerTitulo{
    background: url(../img/ingTrabajando.webp) no-repeat;
    background-position: center;
}

.cardServicios{
    background: url(../img/Ingenieria.webp);
}