.topPresentacionSolu{
    background: url(../img/BG1_low.webp) no-repeat;
}

.headerTitulo{
    background: url(../img/BG1_low.webp) no-repeat;
    background-position: center;
}

.cardServicios{
    background: url(../img/Ingenieria.webp);
}